@media all and (max-width: 992px)

{
    .photo
    {
        flex-basis: 50%;
    }
    .contact
    {
        width: 60%;
    }
    
}
@media all and (max-width: 768px)
{
    .photo
    {
        flex-basis: 100%;
    }
    .gallery
    {
        width: 100%;
    }
    .contact
    {
        width: 82%;
    }
    
    
}

@media all and (max-width: 480px)
{
   h1 {
       font-size: 30px;
   }
    .nav label
    {
        display: block;
        padding: 15px;
        text-align: right;
        text-transform: uppercase;
        color: white;
    }
    .nav ul
    {
        display: none;
    }
    .nav input[type="checkbox"]:checked ~ ul
    {
        display: block;
    }
    .nav ul .list-item
    {
        width: 100%;
        background-color: #007bff;
        margin: 0;
        text-align: right;
    }
    .paragraph,
    {
        width: 100%;
    }
    [type="text"], [type="email"], textarea
    {
        flex-basis: 100%;
        margin:  8px auto;
    }
}