*
{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header
{
    background-image: url(../img/header.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1
{
    color: #007bff;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
}
hr
{
    margin: 0 auto;
    width: 70px;
    border-color: #007bff;
    border-bottom: 0;
}
.dot {
    color: #007bff;
  }
.button
{
    margin: 8px 0;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #007bff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all linear 0.3s;
    color: #333;
}
.button:hover
{
    background-color: #007bff;
}

.nav
{
    margin: 0;
    height: 60px;
    background-color: #007bff;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav input[type="checkbox"]
{
    display: none;
}

.nav label
{
    display: none;
}
.nav ul
{
    margin: 0;
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item
{
    text-transform: uppercase;
    transition: all linear 0.2s;
    padding: 10px;
    margin: 0 5px;
}
a 
{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.nav ul .list-item:hover
{
    background-color: white;
}
.nav ul .list-item:hover a
{
    color: #007bff;
}
h2
{
    text-transform: uppercase;
}
section
{
    text-align: center;
    padding: 50px;
}
.img
{
    border-radius: 100%;
    margin: 50px auto;
    width: 60vh;
}
.paragraph
{
    margin: auto;
    text-align: center;
    width: 60%;
    color: #777;
}
/* galeria */
.portfolio
{
    background-color:  #f2f1ed;
    padding: 50px 0;
}

.gallery
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 40px 0;
    margin: 0 auto;
}
.photo
{
    flex-basis: 25%;
    height: 200px;
    position: relative;
}
.photo-title
{
    margin: 0 auto;
    position: absolute;
    flex-basis: 25%;
    background-color: rgba(0, 123, 255, 0.7);
    opacity: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 32px;
    color: white;
    font-weight: 400;
    transition: all linear 0.12s;
}
.photo-title:hover
{
    opacity: 1;
}
img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* formularz */
.contact
{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px 0;
}
form
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 0;
}

[type="text"], [type="email"]
{
    padding: 10px;
    display: inline-block;
    flex-basis: 49%;
    margin: 8px 0;
}
textarea
{
    display: inline-block;
    flex-basis: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
[type="submit"]
{
    margin: 10px auto;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #007bff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    transition: all linear 0.2s;
    color: #333;
}
[type="submit"]:hover
{
    background-color: #007bff;
}
/* socials */
.socials
{
    font-size: 40px;
    letter-spacing: 15px;
}
.fab
{
    
    color: #007bff;
    transition: all linear 0.2s;
}
.fab:hover
{
    color: #777;
}

footer
{
    padding: 40px;
    background-color:  #f2f1ed;
    text-align: center;
    color: #777;
}